<div class="main">

  <h2>Observations</h2>

  <mat-divider></mat-divider>

  <button mat-stroked-button routerLink="/addsighting" routerLinkActive="link-active">Add Observation</button>

  <mat-divider></mat-divider>

  <div class="tablewrapper">
    <table>

      <tr>
        <th>Species</th>
        <th>Rarity</th>
        <th>Notes</th>
        <th>Date & Time</th>
        <th>Coordinates</th>
      </tr>

      <tr *ngFor="let b of bird | orderBy: timestamp" matTooltip="Edit {{b.species}}" (click)=onSelect(b)
        routerLink="/editsighting/{{b.id}}" class="observations">

        <td>{{b.species}}</td>
        <td>{{b.rarity}}</td>
        <td id="notes">{{b.notes}}</td>
        <td>{{b.datetime}}</td>
        <td>{{b.coordinates}}</td>

      </tr>

    </table>

  </div>

  <mat-divider></mat-divider>

</div>