


<div class="updateDetails" *ngIf="sighting">
  <h3>Update / delete sighting details</h3>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="sighting.name" placeholder="Name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="sighting.email" placeholder="Email" />
  </mat-form-field>
  <br>
  <button mat-stroked-button (click)="update()">Update Sighting</button>
  <button mat-stroked-button (click)="delete()">Delete Sighting</button>
  <button mat-stroked-button (click)="goBack()">Cancel</button>
</div>